{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

  <div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <br>
    <h2 class="join-message text-center">Join At Home Chef Today!</h2>
    <br>
    <form class="form-group" method="POST" id="user_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
        <br>
      {% endfor %}
<br>
      <button class="btn btns btn-lg btn-block">Sign me up!</button>
    </form>
  </div>
</div>

{% endblock %}